<!-- Config file for the game -->

<config>
  <app>
    <title>Procedural Map Generation</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
	<terrain_types>
		<water min_value="0.00"/>
		<sand min_value="0.30"/>
		<grass min_value="0.35"/>
		<forest min_value="0.60"/>
		<mountain min_value="0.70"/>
		<snowy_mountain min_value="0.80"/>
	</terrain_types>
  </map>
  
  <procedural_map>
	<frequency value = "0.3"/>	
	<default_seed value = "1337"/>
  </procedural_map>
</config>